#!/usr/bin/make -f

DESTDIR="$(CURDIR)/debian/wla-dx"
NUMJOBS=4
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS=$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

%:
	dh $@

override_dh_auto_configure:
	CFLAGS=-O3 dh_auto_configure

override_dh_auto_install:
	dh_auto_install
	mv $(DESTDIR)/usr/man $(DESTDIR)/usr/share/man/
	gzip -9 $(DESTDIR)/usr/share/doc/wla-dx/wla-dx.txt

override_dh_installchangelogs:
	dh_installchangelogs
	gzip -9k CHANGELOG
	mv CHANGELOG.gz $(DESTDIR)/usr/share/doc/wla-dx/changelog.gz
